.eventCard {
  width: min(100%, 458px);
  border-radius: 5px;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 21px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  border-radius: 5px;
  background-color: white;
  padding: 9px;
  display: inline-block;
  width: auto;
  font-family: 'Apercu';
  font-size: 13px;
  font-weight: bold;
}

.content {
  margin-top: 20px;
  border-radius: 5px;
  opacity: 0.89;
  background-color: white;
  padding: 15px;
  position: relative;
}

.header {
  font-family: 'Apercu';
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.63px;
  line-height: 27px;
}

.contentBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.location, .price {
  font-family: 'Apercu';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .contentBottom {
    flex-direction: column;
    padding-top: 20px;
  }
  .header {
    font-size: 16px;
  }
}