.mixCard {
  padding: 16px 26px;
  border-radius: 20px;
  background-color: rgba(255, 64, 0, 1);
  display: flex;
  gap: 20px;
  align-items: center;
}

.imgContainer {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.content {
  font-family: 'Apercu';
  position: relative;
}

.header {
  padding: 4px 6px;
  border-radius: 10px;
  background-color: rgba(255, 101, 49, 1);
  font-size: 12.8px;
  color: #FFC6B2;
  letter-spacing: 0.8px;
  display: inline;
}

.text {
  margin-top: 14px;
  margin-bottom: 12px;
  padding-right: 2rem;
  color: white;
  font-style: Medium;
  letter-spacing: 0px;
}

.time {
  color: rgba(255, 198, 178, 1);
  font-size: 12.8px;
  letter-spacing: 0.8px;
}

.soundCloud {
  position: absolute;
  right: 0;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .mixCard {
    flex-direction: column;
  }
}