.createBloco {
  border-radius: 39px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  background-color: rgb(83, 83, 83);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 14px;
  gap: 17px;
  cursor: pointer;
  margin: 48px 0;
}

.imgContainer {
  width: 49px;
  height: 49px;
  background-color: #000000;
  left: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 21px;
  height: 28px;
}

.text {
  font-family: 'Apercu';
  font-weight: bold;
  color: white;
  padding-right: 20px;
}