@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  letter-spacing: 1px;
  background-color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Apercu';
    font-display: swap;
    font-style: normal;
    src: url('../public/fonts/apercu_regular_pro.otf') format('opentype'),
       url('../public/fonts/apercu_regular_italic_pro.otf') format('opentype'),
       url('../public/fonts/apercu_medium_pro.otf') format('opentype'),
       url('../public/fonts/apercu_medium_italic_pro.otf') format('opentype'),
       url('../public/fonts/apercu_bold_pro.otf') format('opentype'),
       url('../public/fonts/apercu_bold_italic_pro.otf') format('opentype');
  }
}
