.profile {
  padding: 0 30px;
  width: min(100%, 700px);
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: min(100%, 228px);
  margin-top: 63px;
}

.container {
  width: min(100%, 458px);
  position: relative;
}

.shortContainer {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 20px;
}

.shortArrow {
  box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.17);
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 46px;
  height: 46px;
  border-radius: 100%;
  padding: 11px;
  cursor: pointer;
}